.header {
  display: flex;
  flex-direction: row;
  height: 150px;

  &__photo {
    height: 120px;
    align-self: center;
  }
}

.user-details {
  height: 150px;
  display: flex;
  flex-direction: row;

  &__driver-bio {
    align-self: center;
    justify-self: center;
    width: 50%;
  }

  &__route-details {
    width: 50%;
    align-self: center;
    justify-self: center;
  }

  &__days {
    display: flex;
    justify-content: center;
  }
}

.route-details {
  display: flex;
  height: 175px;

  &__map {
    width: 50%;
  }

  &__distance {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 10px;
  }
}
