.detailed-route {
  padding-top: 55px;
  height: 100%;
  min-height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-direction: row;
  height: 20vh;
  justify-content: center;
  border-bottom: 2px solid $darkAccent;

  &__back {
    position: fixed;
    right: 15px;
    top: 15px;
  }

  &__close-icon {
    height: 20px;
  }
}

.user-details {
  height: 20vh;
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid $darkAccent;

  &__driver-bio {
    align-self: center;
    justify-self: center;
    width: 50%;
  }

  &__route-details {
    width: 50%;
    margin: 4px;
    align-self: center;
    justify-self: center;
  }

  &__vehicle-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  &__make {
    padding-right: 5px;
  }
}

.route-details {
  display: flex;
  height: 20vh;
  border-bottom: 2px solid $darkAccent;

  &__map-div {
    width: 50%;
  }

  &__distance {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
  }

  &__miles {
    align-self: center;
    font-size: 24px;
    height: 50px;
    width: 50px;
    margin: 6px 4px 4px 4px;
    padding: 8px 4px 4px 4px;
  }
}

// section.route-details div.route-details__map-div div div {
//   height: 207px;
// }
