.signup {
  height: 100%;
  @include justifyCenter;

  &__logo {
    width: 250px;
    margin-bottom: 100px;
  }

  &__btn {
    @extend .registration__button;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
