.signup {
  height: calc(100% - 98px);

  &__logo {
    width: 250px;
    display: block;
    margin: 80px auto;
  }

  &__btn {
    @extend .registration__button;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
