.route-card {
  display: grid;
  grid-template-columns: 1fr 1fr 40%;
  position: relative;
  align-items: center;
  border-bottom: 3px solid #3694ff;
  margin-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  text-decoration: none;
  color: black;

  &__detail {
    padding-bottom: 5px;
  }

  &__name {
    font-size: 15px;
    font-family: "futurabold";
  }
}

.route-card__arrow {
  position: absolute;
  right: 5px;
  top: -5px;
  font-size: 25px;
}

.route-view {
  padding-top: 55px;
  height: 100%;

  &__title {
    padding: 10px 0;
    border-bottom: 3px solid $darkAccent;
  }

  &__message {
    margin-top: 30px;
  }
}

.loading-icon {
  font-size: 50px;
}

@media (prefers-reduced-motion: no-preference) {
  .loading-icon {
    animation: loading infinite 4s linear;
  }
}
