.route-card {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 3px solid #3694ff;
  margin-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  text-decoration: none;
  color: black;

  &__detail {
    padding-bottom: 5px;
  }
}

.route-card:hover {
  background-color: #3694ff; 
}

.route-view {
  padding-top: 55px;
  height: 100%;

  &__title {
    padding: 10px 0;
    border-bottom: 3px solid $darkAccent;
  }
}
