.app {
  height: 100%;
  text-align: center;

  &__header {
    font-size: 60px;
    font-family: "futurabold";
    margin-bottom: 30px;
    letter-spacing: 0.4rem;
    text-shadow: 4px 5px 0 rgba($lightAccent, 0.15);
  }
}
