.origin-destination {
  height: 100%;
  margin-top: 20px;

  &__header {
    margin-bottom: 30px;
  }
}

.autocomplete-dropdown-container {
  width: 85%;
  margin: 0 auto;
  // position: absolute;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}
.suggestion-item--active {
  background-color: rgba($lightAccent, 0.4);
}
.suggestion-item {
  background-color: #fff;
}
