.profile-days {
  display: flex;
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &__profile-day {
    background-color: $darkAccent;
    color: white;
    height: 25px;
    width: 25px;
    margin: 2px;
    padding: 1px;
    border-radius: 50%;
  }
}


