.header-main {
  position: fixed;
  z-index: 5;
  top: 0;
  width: 100%;
  background: white;
  height: 98px;

  &__title {
    font-size: 60px;
    display: block;
    font-family: "futurabold";
    letter-spacing: 0.4rem;
    text-shadow: 4px 5px 0 rgba($lightAccent, 0.15);
  }
}

.header-main--small {
  @extend .header-main;
  @include justifyCenter;
  height: 55px;
}

.header--small {
  @extend .header-main__title;
  font-size: 30px;
  text-shadow: 2px 3px 0 rgba($lightAccent, 0.15);
}

.hamburger {
  @include justifyCenter;
  font-size: 25px;
  position: absolute;
  top: 10px;
  left: 10px;
  box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  padding: 3px;
}
