.registration {
  height: calc(100% - 98px);
  display: flex;
  flex-direction: column;

  &__back-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 20px;
    font-size: 14px;
    padding: 10px;
    margin-left: 7.5%;
    background: transparent;

    &__hidden {
      visibility: hidden;
    }

    &:hover {
      color: darken($lightAccent, 10%);
    }
  }

  &__progress {
    position: relative;
  }

  &__button {
    font-size: 25px;
    color: white;
    background: $darkGradient;
    width: 100%;
    height: 80px;
  }
}

.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(0);
  width: 100%;
  height: 8px;
  background: #3694ff;
  transition: all 0.3s ease-out;
  transform-origin: left;
}

.bio {
  height: 100%;
  margin-top: 20px;

  &__header {
    margin-bottom: 30px;
  }

  &__text {
    height: 200px;
  }
}
